<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})"
>
<head>
    <meta charset="UTF-8">
    <title>This is User DashBoard page</title>
</head>
<body>
    <section>
        <div class="card mr-3 ml-3 ">

            <div class="card-body">

                <h1 class="text-center">Update Your Contact</h1>

                <div class="container-fluid mt-1">

                    <div class="row">

                        <div class="col-md-8 offset-md-2">

                            <form th:object="${contact}"
                                  enctype="multipart/form-data"
                                  method="POST"
                                  th:action="@{/user/process-update}"
                                  class="mt-2"
                            >

                                <input type="hidden" th:value="${contact.cId}" name="cId">

                                <!-- First Name -->
                                <div class="input-group">

                                    <div class="input-group-text mr-3">
                                        <div class="input-group-text ">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>

                                    <input type="text"
                                           id="firstName"
                                           name="name"
                                           placeholder="Enter name here"
                                           class="form-control"
                                           th:value="${contact.name}"
                                           required
                                    >

                                </div>

                                <!-- Second Name -->
                                <div class="input-group mt-3">

                                    <div class="input-group-text mr-3">
                                        <div class="input-group-text ">
                                            <i class="fa fa-user-alt"></i>
                                        </div>
                                    </div>

                                    <input type="text"
                                           id="secondName"
                                           name="secondName"
                                           placeholder="Enter nick name here"
                                           class="form-control"
                                           th:value="${contact.secondName}"
                                           required
                                    >

                                </div>

                                <!-- Phone field -->
                                <div class="input-group mt-3">

                                    <div class="input-group-text mr-3">
                                        <div class="input-group-text ">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>

                                    <input type="number"
                                           id="phoneNumber"
                                           name="phone"
                                           placeholder="Enter phone number here"
                                           class="form-control"
                                           th:value="${contact.phone}"
                                           required
                                    >

                                </div>

                                <!-- Email field -->
                                <div class="input-group mt-3">

                                    <div class="input-group-text mr-3">
                                        <div class="input-group-text ">
                                            @
                                        </div>
                                    </div>

                                    <input type="text"
                                           id="email"
                                           name="email"
                                           placeholder="Enter email here"
                                           class="form-control"
                                           th:value="${contact.email}"
                                           required
                                    >

                                </div>

                                <!-- Work field -->
                                <div class="input-group mt-3">

                                    <div class="input-group-text mr-3">
                                        <div class="input-group-text ">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>

                                    <input type="text"
                                           id="work"
                                           name="work"
                                           placeholder="Enter work here"
                                           class="form-control"
                                           th:value="${contact.work}"
                                           required
                                    >

                                </div>

                                <!-- Contact Description -->
                                <div class="form-group mt-3">

                                    <textarea
                                            name="description"
                                            placeholder="Enter contact description "
                                            rows="12"
                                            class="form-control"
                                            id="mytextarea"
                                            th:utext="${contact.description}"
                                    >

                                    </textarea>

                                </div>


                                <!--  Contact Image -->

                                <div class="container text-center ">
                                    <img th:src="@{'/img/'+${contact.image}}" style="width:200px; height:200px" alt="img" class="img-fluidc.my_profile_picture">
                                </div>

                                <p class="text-secondary">Enter new profile pics</p>

                                <div class="custom-file">

                                    <input type="file" name="profileImage" >

                                </div>



                                <div class="container text-center">

                                    <button class="btn btn-outline-primary">  Save Contact</button>

                                </div>

                            </form>


                        </div>

                    </div>

                </div>



            </div>

        </div>

        <script src="https://cdn.tiny.cloud/1/xoh6p1ll1me06xgnuyvflyur70zv6btrtmll4tvu6vprofrk/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

        <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
        <script>
            tinymce.init({
              selector: '#mytextarea',
              plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
              tinycomments_mode: 'embedded',
              tinycomments_author: 'Author name',
              mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
              ],
              ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });
        </script>

    </section>


</body>
</html>