<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})"
>
<head>
    <meta charset="UTF-8">
    <title>Verify OTP Page</title>
</head>
<body>
<section>

    <div class="container mt-5">

        <div class="row">

            <div class="col-md-8 offset-md-2">

                <div class="my-card mt-1">


                    <div class="alert alert-success" role="alert">
                        We have send OTP to your email ..
                    </div>



                    <form th:action="@{/send-otp}" method="post">

                        <div class="form-group">

                            <input name="otp" required type="text" placeholder="Enter otp here" class="form-control">

                        </div>

                        <div class="container  text-center">

                            <button class="btn btn-warning">Verify</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>

</section>

</body>
</html>