<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>About Section</title>
</head>
<body>
    <section>
        <h1>This is new about section</h1>

        <p>
            Anynews application makes it easier for you to dig
            deeper and slide in the hidden facts. This short news
            application takes the drive from vast international
            updates to minute disturbances at locals summarising
            it in 400 characters in Telugu, Hindi, Malayalam, Tamil,
            Kannada and Odia languages for you. Get updated with
            the latest news and current affairs in a jiffy!
        </p>
    </section>
</body>
</html>